extends layout

block content
    .panel.panel-default
        .panel-heading
            h4
                i.glyphicon.glyphicon-th-list
                |   Welcome To Admin Console

        .panel-body
            .content
                p
                    | Follower : List , Send Message
                p
                    | Message : Building 
                p
                    | Configuration: Update Token, Set appid and secret
                p 
                    | User: Admin Console User Management