extends layout

block content
    ul.list-inline.pull-right
        li
            a(href="#")
                i.glyphicon.glyphicon-plus-sign
                |  Add Blog
    a(href="#")
        strong
        i.glyphicon.glyphicon-dashboard
        | Blogs

    table.table.table-striped
        tr
            th ID
            th Name
            th Email
            th Revision
            th  
            th
        tr
            td 
                a(href="#")
                    i.glyphicon.glyphicon-eye-open
                    |   Test
            td Test
            td Test
            td Test
            td 
                a(href="#")
                    i.glyphicon.glyphicon-edit
            td
                a(href="#")
                    i.glyphicon.glyphicon-remove-sign
        