a(href="#")
    strong
        i.glyphicon.glyphicon-list
        |  Menu
hr
ul.nav.nav-pills
    li.nav-header
    li
        a(href='/admin/follower/index/')
            i.glyphicon.glyphicon-th-list
            |  Follower
    li
        a(href='/admin/message/index/')
            i.glyphicon.glyphicon-envelope
            |  Message
    li
        a(href='/admin/qrcode/index/')
            i.glyphicon.glyphicon-qrcode
            |  QRCode
    li
        a(href='/admin/config/index/')
            i.glyphicon.glyphicon-cog
            |  Config
    li
        a(href='/admin/user/index/')
            i.glyphicon.glyphicon-user
            |  Users
hr