a(href="#")
    strong
        i.glyphicon.glyphicon-list
        |  Menu
hr
ul.nav.nav-pills
    li.nav-header
    li
        a(href='/admin/blog/index')
            i.glyphicon.glyphicon-th-list
            |  Follower
    li
        a(href='/admin/link/index')
            i.glyphicon.glyphicon-envelope
            |  Message
    li
        a(href='/admin/album/index')
            i.glyphicon.glyphicon-cog
            |  Configuration
    li
        a(href='/admin/user/index')
            i.glyphicon.glyphicon-user
            |  Users
hr