extends ../layout

block content
            .panel.panel-default
                .panel-heading
                   strong
                        i.glyphicon.glyphicon-list-alt
                        | Add QRCode
                .panel-body
                    form(name="addQRCode", action="/admin/qrcode/save", method="post")
                        .form-group
                            .row
                                .col-xs-10.col-md-8
                                    label(for="scene_id") Scene Id
                                    input.form-control(id="scene_id",type="text",name="scene_id",placeholder="Scene Id",value="#{item.scene_id}",readonly)
                        .form-group
                            .row
                                .col-xs-10.col-md-8
                                    label Description
                                    input.form-control(type="text",name="description",placeholder="description",value="#{item.description}",readonly)
                        .form-group
                            .row
                                .col-xs-8.col-md-8
                                    input(type="submit", value="Add QRCode")

                        
